<h1>Posts</h1>

<% if user_signed_in? %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
  <%= link_to "New post", new_post_path %>
<% else %>
  <h1>Debe iniciar sesión!</h1>
<% end %>


